@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --border-radius:20px;
    --box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
}
body{
    background-color: lightgrey;
    font-family: 'roboto', sans-serif;
}
hr{
    width: 20%;
    margin-top: 10px;
}
.first-head{
    font-size: 2rem;
    font-weight: 800;
}
.container{
    color: #000;
    background-color: #fff;
    overflow: hidden;
    margin: 3% 15%;
    padding: 5% 5%;
    border-radius: 20px;
    border: 5px rgba(255,255,255,0.5);
}
.logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
span{
    color:#F3164D;
}
.p-1{
    margin-right: -550px;
    line-height: 2.5;
}
.btn-1{
    border-radius: 5px;
    background-color: #F3164D;
    color: #fff;
    width: 100px;
    height: 40px;
    margin-left: 0;
    font-weight: 500;
    border: none;
}
.shadow{
    box-shadow:  2px 2px 10px rgba(0,0,0,0.25);
    border-radius: 15px;
    overflow: hidden;
}
.top-container{
    position: relative;
    display:flex;
}
.image_div{
    width: 700px;
    height: 300p;
    margin-top: 15px;
}
.first_image{
    position: relative;
    width: 600px;
}
.iphone{
    position: absolute;
    top: 220px;
    width: 600px;
    padding: 10px 15px 8px;
    border-radius: 15px;
    background-color: #fff;
     z-index: 1;
}
.hphone{
    font-size: 1.2rem;
    font-weight: bold;
}
.seprate{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}
.seprate h6{
    padding: 5px;
    margin-top: 15px;
    font-size:15px ;
    color: grey;
}

.Description{
    position: relative;
    width: 600px;
    height: 100px;
    margin-top: 15px;
    padding: 15px;
    top: 20px;
}
.second_image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 450px;
    margin-top: 15px;
}
.second-image{
    margin-top: 15px;
    width: 200px;
    height: 280px;
    border-radius: 20px;
}
.span{
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: 70px 50px 50px;
gap: 10px;
margin-left: 10px;
margin-top: 20px;
font-size: 10px;
color: #000;
}
.second_container{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
}
.second_container_1{
    width: 300px;
    height: 300px;
    padding: 10px;
}
.second_container_1 ul li{
    width: 80%;
    margin-left: 10px;
    margin-top: 10px;
}
.second_container_1 ul{
    list-style: none;
}
.second_container_1 ul li:before{
    content: "\2022";
    color: #ED145B;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.second_container_2{
    margin-left: 20px;
    width: 600px;
    height: 300px;
    padding: 50px;
}
.second_container_2  p{
    margin-bottom: 10px;
    margin-top: 10px;
}
.second_container_2  ol li{
    width: 80%;
    height: 50%;
    margin-left: 13px;
}

.third_container{
    display: flex;
    margin-top: 30px;
}
.third_container_1{
height: 400px;
padding: 20px;
}
video{
    height: 400px;
    width: 600px;
    margin-right: 10px;
}
.fourth_container{
    display: flex;
    margin-top: 20px;
}
.Fourth_1{
width: 300px;
height: 420px; 
padding: 25px;
}
.Fourth_2{
    width: 600px;
    height: 420px;
    margin-left: 40px;
    padding: 35px;
}
.fifth_container{
  margin-top: 40px;
}
.fifth_container{
    padding: 40px;
}
.fifth_container .fifth_span{
    color: #959595;
    font-size: smaller;
    margin-left: 15px;
}
.review{
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    color: #ED145B;
    border-style: solid;
    border-color:#ED145B;
    border-radius: 10px;
}
img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .trigger {
    display: none;
  }
  
  .slider, .slider-wrapper {
      margin-top: 20px;
    position: relative;
    height: 350px;
  }
  
  .slide {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  
  .slide-img {
    filter: brightness(50%);
    height: 100%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
  }
  
  .slide-figure {
    height: 100%;
    position: relative;
    margin: 0;
  }
  
  .slide-caption {
    position: absolute;
    bottom: 30%;
    width: calc(100% - 1rem);
    color: white;
    text-align: center;
    left: 50%;
  }
  
  .trigger:checked + .slide {
    z-index: 6000;
    opacity: 1;
  }
  
  .slider-nav {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  
  .slider-nav__item {
    display: inline-block;
  }
  
  .slider-nav__label {
    font-size: 13px;
    background-color: #333;
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
  }
  
  .slider-nav__label:hover,
  .slider-nav__label:active,
  .slider-nav__label:focus {
    background-color: gray;
    color: black;
  }
  .seventh_container{
      margin-top: 30px;
  }
  .grid_items{

  }
  .first{
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 220px 220px 220px 220px ;
    margin-top: 20px;
    margin-left: 20px;
    gap: 20px;
    position: relative;
  }

  .grid_image{
      border-radius: 15px;
      height: 300px;
  }
  .grid_image_1{
    border-radius: 15px;
    height: 230px;
  }
  .grid_paragraph{
      text-align: center;
      font-size: small;
  }

  .grid_heading{
   color: #F3164D;
   margin-top: 10px;
   text-align: center;
   font-weight: 700;
  }
  .grid_heading_1{
text-align: center;
margin-top: 5px;
font-weight: 700;
  }
  .span_2{
      color: #000;
      margin-left: 5px;
  }
  .footer{
      color: #fff;
      background-color: #000;
      margin-top: 100px;
      padding: 20px;
      display: grid;
      grid-template-rows: 80px;
      grid-template-columns: 200px 200px;
      gap: 350px;
  }
  .footer .box_1{
      display: flex;
      margin-top: 20px;
  }
  .footer .box_2{
      display: flex;
      margin-top: 20px;
      margin-left: 50px;
  }
  .footer .box_2 p{
      font-size: small;
      margin-left: 40px;
  }
  a{
      height: 10px;
      width: 10px;
      background-color: #000;
      box-shadow: 1px 4px 2px 2px grey;
      margin-left: 30px;
  }
  .icons{
      border-radius: 50%;
      color: #fff;
      margin-left: 25px;
      margin-top: 7px;
  }
  a i{
transform: all 0.3s;
  }
  @media (max-width:768px) {
      .container{
          width: 100%;
          height: 100%;
      }
      .p-1{
          margin-left: -220px;
      }
      .top-container{
          display: grid;
          grid-template-rows: 500px;
          grid-template-columns: 600px ;
          margin-left: 45px;
          margin-top: 20px;
      }
      .second_image{
        margin-left: 150px;
    }
    .second_container{
         display: grid;
         grid-template-rows: 300px;
         grid-template-columns: 210px;
    }
    .second_container_1{
        margin-top: 10px;
        margin-left: 45px;
        width: 600px;
        padding: 30px;
    }
    .second_container_2{
        margin-top: 20px;
        margin-left: 45px;
        margin-bottom: 10px;
    }
    .third_container{
        display: grid;
        grid-template-rows: 300px;
        grid-template-columns: 210px;
    }
      
  }
